<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJANGO CRUD APP</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .main-content {
            flex: 1;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">DJANGO APP</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        HOME
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tasks' %}" >
                        TASKS
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tasks_completed' %}">
                        TASKS COMPLETED
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_Task' %}">
                        CREATE TASK
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">
                        LOGOUT
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">
                        REGISTER
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signin' %}">
                        LOGIN
                    </a>
                </li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="bg-dark text-white text-center py-4">
        <div class="container">
            <p class="mb-0"> 2024 DJANGO APP. </p>
            <p>
                <a href="#" class="text-white text-decoration-none">Privacy Policy</a> |
                <a href="#" class="text-white text-decoration-none">Terms of Service</a> |
                <a href="#" class="text-white text-decoration-none">Contact</a> |
                <a href="#" class="text-white text-decoration-none">Mauricio Lugo</a>
                
            </p>
            <p>Follow us on our social networks</p>
            <a href="#" class="text-white text-decoration-none"><i class="fab fa-facebook"></i> Facebook</a> | 
            <a href="#" class="text-white text-decoration-none"><i class="fab fa-twitter"></i> Twitter</a> | 
            <a href="#" class="text-white text-decoration-none"><i class="fab fa-instagram"></i> Instagram</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>